.add-post-form{
  display: flex;
  gap:10px;
  align-items: flex-start;
  padding: 15px 20px;
  border-bottom: 1px rgb(47, 51, 54) solid;
}
form{
  margin-top: 10px;
  flex:1
}
input {
  outline: none;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  color: white;
  font-size: large;
}
.avatar {
  width: 30px;
  height: 30px;
  background-color: darkorange;
  border-radius: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(47, 51, 54);
  margin: 10px 0;
}
.button_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
button {
  outline: none;
  background-color: rgb(239, 243, 244);
  border-color: rgba(0, 0, 0, 0);
  width: 66px;
  height: auto;
  padding:5px 10px;
  border-radius: 30px;
  align-self: flex-end;
  cursor: pointer;
}

.loading-bar-container {
  width: 100%;
  height: 4px;
  background:rgb(47, 51, 54);
  overflow: hidden;
  position: relative;
}

.loading-bar {
  width: 30%;
  height: 100%;
  background: #3f51b5; /* or any primary color */
  animation: loading 2s infinite linear;
}

@keyframes loading {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}

