.login-page {
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.login-box {
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.logo {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 24px;
}

h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

input {
  padding: 14px;
  border-radius: 6px;
  background: #000;
  border: 1px solid #2f3336;
  color: #fff;
  font-size: 15px;

  &:focus {
    outline: none;
    border-color: #1d9bf0;
  }
}

.social-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  gap: 8px;
  border: 1px solid #2f3336;

  &:hover {
    background: #16181c;
  }
}

.google-btn .g-logo {
  font-weight: 700;
  background: #fff;
  color: #000;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apple-btn .apple-logo {
  font-size: 20px;
}

.divider {
  display: flex;
  align-items: center;
  color: #71767b;
  font-size: 14px;

  span {
    padding: 0 10px;
  }

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #2f3336;
  }
}

.next-btn {
  padding: 14px;
  border-radius: 50px;
  background: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover {
    background: #d7d7d7;
  }
}

.forgot-btn {
  padding: 14px;
  border-radius: 50px;
  background: none;
  border: 1px solid #2f3336;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: #16181c;
  }
}

.signup-text {
  margin-top: 22px;
  color: #71767b;
  font-size: 15px;

  a {
    color: #1d9bf0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.white_icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg);
  width: 100px;
  height: 100px;
}

.email-display {
  padding: 14px;
  background: #111;
  border-radius: 8px;
  color: #71767b;
  margin-bottom: 20px;
  text-align: left;
}

.next-btn,
.login-btn, .back-btn {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  background: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border: none;

  &:hover {
    background: #d7d7d7;
  }
}

.signup-text {
  margin-top: 22px;
  color: #71767b;
  font-size: 15px;
  text-align: center;

  a {
    color: #1d9bf0;

    &:hover {
      text-decoration: underline;
    }
  }
}
