.modal-backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
}
.modal {
  width:250px;
  position: absolute;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 15px, rgba(255, 255, 255, 0.15) 0 0 3px 1px;
  border-radius: 10px;
  padding: 10px 0;
  background: black
}
li {
  width: 100%;
  padding: 5px 0;
  text-align: left;
  font-weight: bold;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
}
li:hover {
  background-color: rgb(47, 51, 54)
}
ul {
  list-style-type: none;
}
