.layout-grid {
  width:100%;
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  gap: 10px;
}
.feed {
  border-right: 0.5px rgb(47, 51, 54) solid;
  border-left: 0.5px rgb(47, 51, 54) solid;
}
