.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%
}
.left img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg);
  width: 100%;
  height: 100%
}
h1 {
  font-size: 4rem;
}
