.feed-categories {
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 0.5px rgb(47, 51, 54) solid;
  background-color: rgba(0,0,0,0.9);
  position: sticky;
  top: 0;
}
.feed-category {
  width:50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}
.feed-category:hover {
  background-color: rgba(47, 51, 54, 0.4)
}
.category-name {
  color: grey;
  position: relative;
  display: inline-block;
}
.active {
  color: white;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 40px;
  height: 4px;
  background-color: rgb(29, 155, 240);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
