.news-container {
  border-radius: 10px;
  border: 1.5px rgb(47, 51, 54) solid;
  padding: 2px 10px;
  width: 100%;
}
.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}
.close-icon:hover {
  background-color: rgba(0,0,0,0.2)
}
