.base {
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px
}

/* Button types */
.primary {
  background: white;
  color: black;
}

.secondary {
  background:black;
  color:white;
  border: 2px rgb(83, 100, 113) solid;
}

/* Sizes */
.sm {
  padding: 4px 10px;
  font-size: 12px;
}

.md {
  padding: 8px 16px;
  font-size: 14px;
}

.lg {
  padding: 12px 22px;
  font-size: 16px;
}
