.modal-backdrop {
  position: fixed; top:0; left:0; width:100%; height:100%;
  background: rgba(216, 223, 237, 0.02); z-index:1000;
}
.modal-content {
  width: fit-content;
  height: fit-content;
  position: fixed; top:50%; left:50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 10px;
  padding: 20px;
  z-index:1001; min-width:300px;
}
