.modal-backdrop {
  position: fixed; top:0; left:0; width:100%; height:100%;
  background: rgba(0,0,0,0.5); z-index:1000;
}
.modal-content {
  width: 500px;
  height: 500px;
  position: fixed; top:50%; left:50%;
  transform: translate(-50%, -50%);
  background:white; padding:2rem; border-radius:1rem;
  z-index:1001; min-width:300px;
}
