.loading-bar-container {
  width: 100%;
  height: 4px;
  background:rgb(47, 51, 54);
  overflow: hidden;
  position: relative;
}

.loading-bar {
  width: 30%;
  height: 100%;
  background: #3f51b5; /* or any primary color */
  animation: loading 2s infinite linear;
}

@keyframes loading {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}
