.container {
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer
}
.name-info {
  flex: 1;
}
.user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.action {
  background-color: rgb(239, 243, 244);
  color: black;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer
}
.name {
  display: flex;
  gap: 4px;
  align-items: center;
  height:20px;
}
.name:hover p{
  text-decoration: underline;
}
.username {
  color: grey;
}
p {
  margin: 0
}
