.search-container{
  width: 100%;
  margin-top: 10px;
}
.search {
  outline:none;
  border: 1px rgb(47, 51, 54) solid;
  padding: 5px 10px;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  height: 30px;
}
.search:focus {
  border: 2px rgb(29, 155, 240) solid;
}
