<div class="post-container">
  <app-post-content [tweet]="tweet"/>
  @if(mode() == 'detailed') {
    <div class="post-info">
      <app-modal modalId="commentsModal-{{tweet.uid}}">
        <div trigger class="post-info-detail">
          <mat-icon
            fontSet="material-icons"
            class="mat-icon mat-icon-blue"
            style="font-size: 20px;"
          >
            chat_bubble
          </mat-icon>
          <span class="counter">{{commentsCount()}}</span>
        </div>
        <div content>
          <app-comments-modal [tweet]="tweet"/>
        </div>
      </app-modal>
      <div class="post-info-detail" (click)="this.repostPost()">
        <mat-icon
          [fontSet]="isReposted() ? 'material-icons' : 'material-icons-outlined'"
          class="mat-icon mat-icon-green"
          [class.reposted]="isReposted()"
          [class.not-selected]="!isReposted()"
          style="font-size: 20px;"
        >
          sync
        </mat-icon>
        <span class="counter">{{this.repostCount() }}</span>
      </div>
      <div class="post-info-detail" (click)="this.likePost()" [class.disabled]="pending()">
        <mat-icon
          [fontSet]="isLiked() ? 'material-icons' : 'material-icons-outlined'"
          class="mat-icon mat-icon-red"
          [class.liked]="isLiked()"
          [class.not-selected]="!isLiked()"
          style="font-size: 20px;"
        >
          favorite
        </mat-icon>
        <span class="counter">{{this.likeCount() }}</span>
      </div>
      <div class="post-info-detail">
        <mat-icon
          fontSet="material-icons"
          class="mat-icon mat-icon-blue"
          style="font-size: 20px;"
        >
          bar_chart
        </mat-icon>
        <span class="counter">{{ tweet.views }}</span>
      </div>
      <div class="other-actions">
        <div class="post-info-detail" (click)="this.savePost()">
          <mat-icon
            [fontSet]="isSaved() ? 'material-icons' : 'material-icons-outlined'"
            class="mat-icon mat-icon-yellow"
            [class.saved]="isSaved()"
            [class.not-selected]="!isSaved()"
            style="font-size: 20px;"
          >
            bookmark
          </mat-icon>
        </div>
        <div class="post-info-detail">
          <mat-icon
            fontSet="material-icons"
            class="mat-icon mat-icon-blue"
            style="font-size: 20px;"
          >
            ios_share
          </mat-icon>
        </div>
      </div>
    </div>
  }
</div>

