.post-container {
  padding: 10px 10px;
  border-bottom: 1px rgb(47, 51, 54) solid;
}
.post {
  display: flex;
  gap: 10px;
}
.post_content{
  display: flex;
  flex-direction: column;
  gap: 1px;
  text-align: left;
  margin-top: 5px
}
.post-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.grayed-text  {
  color: grey;
}
.post_author {
  display: flex;
  gap:2px;
}
.heart_icon {
  filter: invert(26%) sepia(98%) saturate(7458%) hue-rotate(356deg) brightness(91%) contrast(118%) !important;
}
.post-header{
  display: flex;
  justify-content: space-between;
  gap: 5px
}
.post_text {
  margin: 5px 0;
  width: 100%;
}
.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.icon {
  width: 20px;
  height: 20px;
}
.icon:hover {
  filter: invert(26%) sepia(98%) saturate(7458%) hue-rotate(356deg) brightness(91%) contrast(118%) !important;
}
.post-info-detail {
  display: flex;
  gap:2px;
  color: grey;
  cursor: pointer;
}
.other-actions {
  display: flex;
  gap: 5px;
}
.user-avatar {
  border-radius: 100%;
}
.icon_yellow path { fill: yellow; }

.mat-icon {
  cursor: pointer;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-icon:hover {
  cursor: pointer;
}

.mat-icon-red:hover {
  color: rgb(255 20 147);
  background-color: rgba(255,20,147, 0.3);
  border-radius: 50%;
  margin: 0 auto;
}

.mat-icon-green:hover {
  color: rgb(0 128 0);
  background-color: rgba(0,128,0, 0.3);
  border-radius: 50%;
  margin: 0 auto;
}

.mat-icon-yellow:hover {
  color: rgb(255,255,0);
  background-color: rgba(255,255,0, 0.3);
  border-radius: 50%;
  margin: 0 auto;
}

.mat-icon-blue:hover {
  color: rgb(29, 155, 240);
  background-color: rgba(29, 155, 240, 0.3);
  border-radius: 50%;
  margin: 0 auto;
}

.counter {
  margin-top: 5px
}

.liked {
  color: deeppink;
}

.not-selected{
  color: grey;
}

.reposted {
  color: green;
}

.saved {
  color: yellow;
}
.share {
  color: rgb(29, 155, 240)
}
