.grayed-text  {
  color: grey;
}
.post_author {
  display: flex;
  gap:2px;
}
.post-header{
  display: flex;
  justify-content: space-between;
  gap: 5px
}
.post-info-detail {
  display: flex;
  gap:2px;
  color: grey;
  cursor: pointer;
}
.mat-icon-blue:hover {
  color: rgb(29, 155, 240);
  background-color: rgba(29, 155, 240, 0.3);
  border-radius: 50%;
  margin: 0 auto;
}
.mat-icon {
  cursor: pointer;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
